
<span class="spacer_10"></span>

<div class="result">
    <span class="spacer_5"></span>

    <div class="col-xs-2">
        <p class="name font_bold">@Model.Name</p>    
        <!-- TODO: Dirty hack. Needs replaced -->
        <img class="pkm @Model.ImageClassName" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" >
    </div>
    
    <div class="col-xs-10">
            <div class="id col-sm-2 col-xs-3">
                <p>ID: @Model.Id</p>
            </div>
            <div class="col-sm-1 col-xs-2">
                <p>Type:</p>
            </div>
            <div class="type col-sm-8 col-xs-6">
               @{
                       var NumOfTypes = Model.PokemonTypesList.Count;
                       if(NumOfTypes == 1)
                        {
                            <p>@Model.PokemonTypesList[0] </p>
                        }
                        else
                        {
                        <p>
                            @Model.PokemonTypesList[0] / @Model.PokemonTypesList[1]    
                        </p> 
                        }
                }
            </div>
            <div class="col-sm-1 col-xs-1">
                @if (Model.Missable)
                {
                    <i class="fas fa-exclamation-triangle"></i>
                }
                @if (Model.Legendary)
                {
                    <i class="fas fa-star"></i>
                }
            </div>
        <div>
            <div class="col-sm-2 col-xs-3">
                <p>Evolultion:</p>    
            </div>
            <div class="col-sm-10 col-xs-9">
                <p>@Model.EvolutionDetails</p>    
            </div>
        </div>
        <div>
            <div class="col-sm-2 col-xs-3">
                <p>Locations:</p>    
            </div>
            <div class="col-sm-10 col-xs-9">
            <ul>
                @foreach(var location in Model.Locations)
                {
                      <li>@location</li>
                }
                </ul>  
            </div>
        </div>
        <div>
            <div class="col-sm-2 col-xs-3">
                <p>Notes:</p>    
            </div>
            <div class="col-sm-10 col-xs-9">
                <ul>
                @foreach(var note in Model.Notes)
                {
                      <li>@note</li>
                }            
                </ul>  
            </div>
        </div>
    </div>
</div>

<span class="spacer_10"></span>
