
<span class="spacer_10"></span>

<div class="result">
    <span class="spacer_5"></span>

    <div class="col-xs-2">
        <p>Picture Goes Here</p>    
    </div>
    <div class="col-xs-10">
            <div class="col-sm-1 col-xs-4">
                <p>Name:</p>    
            </div>
            <div class="col-sm-2 col-xs-8">
                <p>@Model.Name</p>    
            </div>
            <div class="col-sm-1 col-xs-4">
                <p>ID:</p>
            </div>
            <div class="col-sm-2 col-xs-8">
                <p>@Model.Id</p>
            </div>
            <div class="col-sm-1 col-xs-4">
                <p>Type:</p>
            </div>
            <div class="col-sm-5 col-xs-8">
               @{
                       var NumOfTypes = Model.PokemonTypesList.Count;
                       if(NumOfTypes == 1)
                        {
                            <p>@Model.PokemonTypesList[0] </p>
                        }
                        else
                        {
                            
                            <p>
                                @Model.PokemonTypesList[0] / @Model.PokemonTypesList[1]    
                            </p> 
                        }
                }
            </div>
        <div>
            <div class="col-xs-3">
                <p>Evolultion:</p>    
            </div>
            <div class="col-xs-9">
                <p>@Model.EvolutionDetails</p>    
            </div>
        </div>
        <div>
            <div class="col-xs-2">
                <p>Locations:</p>    
            </div>
            <div class="col-xs-10">
            <ul>
                @foreach(var location in Model.Locations)
                {
                      <li>@location</li>
                }
                </ul>  
            </div>
        </div>
    </div>
</div>

<span class="spacer_10"></span>
