
<span class="spacer_10"></span>

<div class="result">
    <span class="spacer_5"></span>
    <div>
        <div class="col-md-4">
            <p>Name: @Model.Name</p>    
        </div>
        <div class="col-md-4">
            <p>ID: @Model.Id</p>
        </div>
        <div class="col-md-4">
           @{
                   var NumOfTypes = Model.PokemonTypesList.Count;
                   if(NumOfTypes == 1)
                    {
                        <p>Type: @Model.PokemonTypesList[0] </p>
                    }
                    else
                    {
                        
                        <p>
                            Type: @Model.PokemonTypesList[0] / @Model.PokemonTypesList[1]    
                        </p> 
                    }
            }
        </div>
    </div>
    <div>
        <div class="col-md-12">
            <p>Evolultion Details: @Model.EvolutionDetails</p>    
        </div>
    </div>
</div>

<span class="spacer_10"></span>
